@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Lookup Api </h4>
    <hr>
    <p>
        Lookup allows you to systematically ascertain information about phone numbers.
        With Lookup, you can identify local-friendly number formats and reduce the
        likelihood of undelivered messages.
    </p>

    <div class="my-3 p-3 border border-1">
        <form method="post" action="/home/index">
            <div class="row align-items-center my-3">
                <div class="col-2">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                </div>
                <div class="col-3">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value=""/>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="my-3 py-3">
        @if (ViewBag.response != null)
        {
            <p>Results: @ViewBag.response.PhoneNumber </p>
        }

    </div>

</div>